<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3 id="subtitulo">Primer Proyecto </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur quod porro perferendis accusantium quam praesentium iste consequuntur, id rem ex 
                incidunt a nemo quibusdam amet eveniet iusto deserunt doloremque labore!
            </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 parte1
        offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto1.jpeg" 
            class="img-fluid
            img-proyecto">

        </div>
    </div>

    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3 id="subtitulo">Segundo Proyecto </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur quod porro perferendis accusantium quam praesentium iste consequuntur, id rem ex 
                incidunt a nemo quibusdam amet eveniet iusto deserunt doloremque labore!
            </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 parte1
        offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto2.jpg" 
            class="img-fluid
            img-proyecto">

        </div>
    </div>
</div>