.row {
    padding: 2%;
    background-color: #9BBCD3;
}

h1{
    padding-bottom: 8px;
}


.linea {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos horizontalmente */
    align-items: center;
    /* Centramos verticalmente los elementos */
}

#id {
    margin-top: 1em;
}


#fotodeproyecto {
    display: block;
    /* Hacer que la imagen sea un elemento de bloque */
    max-width: 80%;
    /* Establecer la anchura máxima al 100% del contenedor */
    height: auto;
    /* Establecer la altura a auto para mantener la proporción */
    box-shadow: 1px 1px 1px black;

}

.linea button{
    margin-left: 1em;
    justify-content: end;

}

#bloque{
padding-top: 3% ;
}

#link{
    margin-bottom: 3%;
}
