
<div >
    <div class="row">
        <h1>Proyectos realizados</h1>
        <br>
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
        </div>
        <br>
        <div *ngFor="let Proyectos of proyectos" id="bloque">

            <div class="linea">
                <h4>{{Proyectos.nombre}}</h4>
                <button *ngIf="isLogged" class="btn btn-light" routerLink="/editproyecto/{{Proyectos.id}}"><i class="bi bi-pencil-fill"
                        width="50px" ></i></button>
                <button *ngIf="isLogged" class="btn btn-danger" (click)="borrar(Proyectos.id)"><i class="bi bi-trash"
                        width="50px"></i></button>
            </div>

            <div> 
                <p>{{Proyectos.descripcion}}</p>
        
                <img [src]="Proyectos.img" class="img-fluid" id="fotodeproyecto" width="350px">
                
            
                <br>
                <a href="{{Proyectos.link}}"><button id="link" class="btn btn-light"> <b>Link del proyecto</b> </button></a>
            </div>

        </div>
    </div>

