<div class="row">
    <h1>Educación</h1>
     <div class="col-lg-11"> 
      <ul>
          <li>
              <h3>Curso #YoProgramo: Programación Fullstack </h3>
              <h5>Por Argentina Programa, Oct 2022 - May 2023</h5>
          </li>
          <p> Me permitió convertirme en Software Developer Fullstack Jr. con conocimientos
            específicos sobre Angular, Bootstrap, SQL, Typescript, Javascript, entre otros.
          </p>
      </ul>
      <ul>
          <li>
              <h3>Carrera de Ingeniería Industrial (UNT) </h3> 
              <h5>2019 - Presente</h5>
          </li>
          <p>Actualmente me encuentro en mi quinto y último año de carrera. Considero que la lógica del pensamiento
            y los conocimientos que adquirí estos años en la facultad, brindan a la programación
             e informática un valor agregado inigualable.
          </p>
      </ul>
      <ul>
        <li>
            <h3>Curso Excel para Ingeniería y Gestión Empresarial</h3>
            <h5>Por Educ4tech, Ago 2022 - Oct 2022</h5>
        </li>
        <p>Completé el nivel básico, intermedio y avanzado. Algunos de los conocimientos adquiridos son:</p>
            <ul>
                <li>Funciones avanzadas y utilización de gráficos.</li>
                <li>Segmentación de datos.</li>
                <li>Tablas y gráficos dinámicos.</li>
                <li>Macros para automatización.</li>
                <li>Creación de formularios.</li>
            </ul>
        
    
        </ul>
  
     </div>
  </div>
  
