.row{
    background-color: #7091A7;
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #0000;
    padding-top: 10px;
}