.row{
    padding-left: 2%;
    padding-bottom: 3%;
}
div{
    background-color: #9BBCD3;
}


h1{
    padding-bottom: 18px;
    margin-top: 3%;
}

h5{
    padding-top:  1px;
}

.container{
    width: auto;
    display: inline-block;
    
    }
    
    .parteA, .parteB{
        display: inline-block;
        
    }

    
    .img-proyecto{
        box-shadow: 1px 1px 10px black;
        width: 180px;
        vertical-align:text-bottom;

    }