<div class="row">
  <h1>Experiencia laboral</h1>
   <div class="col-lg-11"> 
    <ul>
        <li>
            <h2>Experiencia 1</h2> - 
            <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsum 
            officia rem minus. Recusandae cupiditate, at hic veniam velit autem 
            dolores eaque expedita et amet. Mollitia, ea? Aliquid, repudiandae officia.
        </p>
    </ul>
    <ul>
        <li>
            <h2>Experiencia 2</h2> - 
            <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsum 
            officia rem minus. Recusandae cupiditate, at hic veniam velit autem 
            dolores eaque expedita et amet. Mollitia, ea? Aliquid, repudiandae officia.
        </p>
    </ul>

   </div>
</div>
