 <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"> 
        <img src="../../../assets/fotoPerfil.jpg"
         class="img-fluid"
         id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <p id="nombre">Agustina Gimenez Lascano</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
     <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit voluptate expedita eveniet fugit nam quae praesentium fuga.
            Accusamus error tempore, vitae provident totam natus, cumque enim ullam placeat cupiditate sit?
        </p>
     </span>
    </div>
 </div>
