.row{
    padding: 20px
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
/*etiqueta foto de perfil*/
@media(min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 20%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 650px;
    }
}
@media(max-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
        left: 30%;
        top: 630px;
    }
}
