.row{
    padding: 20px
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-size: 160%;
    font-weight: bold;
    display: flex; /* Establecer el contenedor como flex */
    align-items: center;
    justify-content: center; /* Centrar horizontalmente los elementos */
  align-self: center;
  max-width: 100%; /* Establecer la anchura máxima al 100% del contenedor */
  width: 20em; /* Establecer un ancho máximo para el texto */
  margin: 0 auto; /* Centrar horizontalmente el texto */
}

#titulo{
    padding-top: 5%;
    font-style: oblique;
    font-size: large;
}


/*etiqueta foto de perfil*/
@media(min-width:576px){
    #fotodeperfil{
        display: block; /* Hacer que la imagen sea un elemento de bloque */
        max-width: 90%; /* Establecer la anchura máxima al 100% del contenedor */
        height: auto; /* Establecer la altura a auto para mantener la proporción */
        margin-left: 7%;
        border-radius: 49%;
        box-shadow: 1px 1px 1px black;
        
    }
    #nombre{
        padding-top: 25%;
    }
}
@media(max-width:576px){
    #fotodeperfil{
        display: block; /* Hacer que la imagen sea un elemento de bloque */
        max-width: 40%; /* Establecer la anchura máxima al 100% del contenedor */
        height: auto; /* Establecer la altura a auto para mantener la proporción */
        margin-left: 33%;
        margin-top: 8%;
        border-radius: 50%;
        box-shadow: 1px 1px 1px black;
    }
    #nombre{
        padding-top: 8%;
    }
}
#acercaDeMi{
    margin-top: 10%;
}