 <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3"> 
        <img src="../../../assets/fotoPerfil.jpg"
         class="img-fluid"
         id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
        <p id="nombre">Agustina Gimenez Lascano</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
     <span>
        <h1 id="acercaDeMi">Acerca de mí</h1>
        <p> Tengo 23 años y actualmente soy estudiante de Ingeniería Industrial en la UNT (Tucumán). 
            Soy una persona muy curiosa, autodidacta y responsable. <br>
            Un día descubrí este
            mundo de la programación y no pude salir. Lo disfruto mucho y aspiro a lograr grandes cosas con ello.

        </p>
     </span>
    </div>
 </div>
