.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  button {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    margin: 0 auto;
  }